<!DOCTYPE html>
<html lang="en">

<head> </head>

<body class="container" style="margin: 0; overflow: hidden;">
  <!-- <object width="400" height="500" type="application/pdf" data="<%= pdfUrl %>?#zoom=85&scrollbar=0&toolbar=0&navpanes=0">
      <p>PDF cannot be displayed</p>
    </object> -->
  <!-- <iframe src="https://docs.google.com/gview?url=<%= pdfUrl %>&embedded=true" style="width: 100vw; height: 100vh" frameborder="0"></iframe> -->
  <iframe width="355px" height="600px" src="https://docs.google.com/gview?url=<%= pdfUrl %>&embedded=true" frameborder='0' />
  <!-- <object data="<%= pdfUrl %>" type="application/pdf" width="750px" height="750px">
    <embed src="<%= pdfUrl %>" type="application/pdf">
    <p>This browser does not support PDFs. Please download the PDF to view it:</p>
    </embed>
  </object> -->
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"
  integrity="sha512-Z8CqofpIcnJN80feS2uccz+pXWgZzeKxDsDNMD/dJ6997/LSRY+W4NmEt9acwR+Gt9OHN0kkI1CTianCwoqcjQ=="
  crossorigin="anonymous"></script>

</html>